ion-fab-button {
  --background: var(--ion-color-primary);
  --background-activated: var(--ion-color-primary-shade);
  --background-hover: var(--ion-color-primary-shade);
  --border-radius: 16px;
  --box-shadow: 0 4px 16px rgba(122, 92, 88, 0.4);
  --color: white;
}
