<ion-header>
  <ion-toolbar>
    <ion-breadcrumbs>
      <ion-breadcrumb (click)="onBack()">Settings</ion-breadcrumb>
      <ion-breadcrumb>Edit Profile</ion-breadcrumb>
    </ion-breadcrumbs>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form" class="edit-profile">
    @if (errorMessage()) {
      <ion-note class="edit-profile__error" color="danger">
        {{ errorMessage() }}
      </ion-note>
    }
    @if (isSaved()) {
      <ion-note class="edit-profile__success" color="success">
        <ion-icon name="checkmark-circle-outline" />
        Changes saved successfully.
      </ion-note>
    }
    <ion-list class="edit-profile__list" lines="none">
      <ion-item class="edit-profile__item">
        <ion-input
          formControlName="fullName"
          label="FULL NAME"
          labelPlacement="stacked"
          placeholder="Your full name"
          type="text"
        />
      </ion-item>
      <ion-item class="edit-profile__item">
        <ion-select
          formControlName="bloodType"
          label="BLOOD TYPE"
          labelPlacement="stacked"
          placeholder="Select"
        >
          @for (option of bloodTypeOptions; track option.value) {
            <ion-select-option [value]="option.value">{{
              option.label
            }}</ion-select-option>
          }
        </ion-select>
      </ion-item>
      <ion-item class="edit-profile__item">
        <ion-input
          formControlName="dateOfBirth"
          label="DATE OF BIRTH"
          labelPlacement="stacked"
          [max]="maxDate"
          type="date"
        />
      </ion-item>
      <ion-item class="edit-profile__item">
        <ion-select
          formControlName="sex"
          label="SEX"
          labelPlacement="stacked"
          placeholder="Select sex"
        >
          @for (option of sexOptions; track option.value) {
            <ion-select-option [value]="option.value">{{
              option.label
            }}</ion-select-option>
          }
        </ion-select>
      </ion-item>
      <ion-item class="edit-profile__item">
        <ion-input
          formControlName="weight"
          label="WEIGHT (KG)"
          labelPlacement="stacked"
          placeholder="Weight in kg"
          step="0.1"
          type="number"
        />
      </ion-item>
      <ion-item class="edit-profile__item">
        <ion-input
          formControlName="height"
          label="HEIGHT (CM)"
          labelPlacement="stacked"
          placeholder="Height in cm"
          type="number"
        />
      </ion-item>
      <ion-item class="edit-profile__item">
        <ion-input
          formControlName="lastCheckup"
          label="LAST CHECKUP"
          labelPlacement="stacked"
          [max]="maxDate"
          type="date"
        />
      </ion-item>
    </ion-list>

    <div [formGroup]="allergiesGroup" class="edit-profile__allergies">
      <h3 class="edit-profile__allergies-title">Allergies</h3>
      <div [formGroup]="commonGroup" class="edit-profile__checkboxes">
        @for (allergy of commonAllergies; track allergy) {
          <ion-item class="edit-profile__item" lines="none">
            <ion-checkbox
              [formControlName]="allergy"
              [disabled]="isNoneSelected"
              slot="start"
            />
            <ion-label>{{ allergy }}</ion-label>
          </ion-item>
        }
      </div>
      <ion-item class="edit-profile__item" lines="none">
        <ion-input
          formControlName="otherAllergyText"
          label="OTHER (specify)"
          labelPlacement="stacked"
          [disabled]="isNoneSelected"
          placeholder="e.g. Sesame"
          type="text"
        />
      </ion-item>
      <ion-item class="edit-profile__item" lines="none">
        <ion-checkbox formControlName="noneSelected" slot="start" />
        <ion-label>None</ion-label>
      </ion-item>
    </div>

    <ion-button
      class="edit-profile__save"
      expand="block"
      [disabled]="form.invalid || isSaving()"
      (click)="onSave()"
    >
      <ion-icon name="save-outline" slot="start" />
      {{ isSaving() ? "Saving..." : "Save Changes" }}
    </ion-button>
  </form>
</ion-content>
