ion-input[type="date"] {
  color-scheme: light;
}

body.dark {
  ion-input[type="date"] {
    color-scheme: dark;
  }
}

.step {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__error {
    font-size: 0.8rem;
  }

  &__item {
    --background: var(--ion-card-background);
    --border-radius: 10px;
  }

  &__title {
    margin-bottom: 4px;
  }
}
